:root {
  line-height: 1.5;
  font-weight: 400;
  --theme-dark: #474c50;
  --theme-light: #f5f5f5;
  --theme-purple: #535bf2;
  --theme-yellow: #fbbd0e;
}

#root {
  width: 100%;
}

body {
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.align-items-right {
  text-align: right;
}

.flex {
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
}
